@import "tailwindcss";

@theme {
  --color-safety-orange: #FF5E0E; /* Safety Orange */
  --color-tech-black: #050505;
  --color-tech-gray: #121212;
}

:root {
  --background: #050505;
  --foreground: #ffffff;
  --primary: #FF5E0E;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #121212;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #FF5E0E;
}
